anndata~=0.7.5
biopython~=1.78
h5py~=3.1.0
leidenalg~=0.8.2
louvain~=0.7.0
matplotlib~=3.3.3
networkx~=2.5
numba~=0.51.2
numexpr~=2.7.1
numpy~=1.19.4
pandas~=1.1.4
scanpy~=1.6.0
scikit_misc~=0.1.3
scikit_learn~=0.23.2
scipy~=1.5.4
scvelo~=0.2.2
statsmodels~=0.12.1
tables~=3.6.1

git+https://github.com/andrewhill157/barcodeutils
git+https://github.com/hubmapconsortium/fastq-utils@v0.2.3
