anndata==0.12.7
bioio
bioio-ome-tiff
bioio-ome-zarr
biopython
h5py
leidenalg
manhole
matplotlib
muon
networkx
# pinned for numba
numpy<2
opencv-python
pandas
pint
scanpy
scipy
scvelo==0.3.3
scikit-learn
setuptools==80.0.0
tables
tensorflow
tifffile
umap-learn

git+https://github.com/andrewhill157/barcodeutils
git+https://github.com/anthony-qu/dca_patched.git
git+https://github.com/hubmapconsortium/DeepScence.git
git+https://github.com/hubmapconsortium/fastq-utils@v0.2.5
