anndata~=0.7.3
biopython~=1.77
h5py~=2.10.0
leidenalg~=0.8.0
louvain~=0.7.0
matplotlib~=3.2.1
networkx~=2.4
numba~=0.49.1
numexpr~=2.7.1
numpy~=1.19.0
openpyxl~=3.0.4
pandas~=1.0.5
scanpy~=1.5.1
scikit_learn~=0.23.1
scipy~=1.5.0
statsmodels~=0.11.1
tables~=3.6.1

git+https://github.com/andrewhill157/barcodeutils
